:root{}



body{
   background: var(--bag2);
   color: var(--wh);
}



/*  */
.bl_c{
   max-width: 500px;
   padding: 0 40px;
}
@media (max-width: 428px) {
   .bl_c{
      padding: 0 25px;
   }  
}
@media (max-width: 375px) {
   .bl_c{
      padding: 0 20px;
   }  
}


/*  */
.head_c{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.head_c h4{
   width: 100%;
   text-transform: uppercase;
   text-align: center;
   font-size: 32px;
}





/*  */
.footer_br{
   width: 100%;
   justify-content: center;
}







/*  */
.lbl1{
   position: relative;
   width: 100%;
   height: 80vh;
   min-height: 780px;
}








.lbl1_t{
   position: relative;
   width: 100%;
   height: 100%;
   max-width: 500px;
   margin: 0 auto;
   position: absolute;
   top: 0;
   left: 0;
}
.lbl1_tc{
   position: relative;
   width: 100%;
   height: 100%;
   /* min-height: 320px; */
}
.lbl1_tc div{
   position: absolute;
   width: 100%;
   height: 100%;
   background-size: 100% auto;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}
/* .lbl1_t::after{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 30%;
   background: -moz-linear-gradient(180deg, var(--wh0) 0%, var(--bag) 100%);
	background: -webkit-linear-gradient(180deg, var(--wh0) 0%, var(--bag) 100%);
	background: linear-gradient(180deg, var(--wh0) 0%, var(--bag) 100%);
} */












.lbl1_tj{
   position: relative;
   width: 100%;
   padding-top: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.lbl1_tjl{
   font-size: 16px;
   color: var(--wh);
   font-weight: 600;
}

.lbl1_tjr{
   position: relative;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.lbl1_tjr a{
   width: 44px;
   height: 44px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--wh);
   background: var(--cm2);
   border: 1px solid var(--cm);
   border-radius: 50%;
   margin-left: 8px;
}
.lbl1_tjr a i{
   font-size: 20px;
}












.lbl1_c{
   position: relative;
   width: 100%;
   margin-top: 40px;
   margin-bottom: 40px;
   display: flex;
   justify-content: center;
}
.lbl1_cm{
   position: relative;
}

.lbl1_cm h1{
   position: relative;
   color: var(--wh);
   font-size: 32px;
   text-transform: uppercase;
   /* text-align: center; */
   z-index: 12;
}
.lbl1_cm h1:nth-child(2){
   padding-left: 50px;
}
.lbl1_cm span{
   position: absolute;
   right: 45px;
   top: 0;
   display: inline-block;
   width: 125px;
   height: 125px;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 11;
   opacity: .7;
}
@media (max-width: 414px) {
   .lbl1_cm h1{
      font-size: 24px;
   }
   .lbl1_cm h1:nth-child(2){
      padding-left: 35px;
   }
   .lbl1_cm span{
      right: 25px;
      top: 0;
      width: 90px;
      height: 90px;
   }
}


















.lbl1_cmc{
   position: absolute;
   bottom: 100px;
   left: 0;
   right: 0;
   margin: auto;

   padding: 20px 25px;
   text-align: center;
   width: calc(100% - 80px);
}
@media (max-width: 428px) {
   .lbl1_cmc{
      padding: 20px 25px;
      width: calc(100% - 50px);
   }
}
@media (max-width: 375px) {
   .lbl1_cmc{
      padding: 20px 25px;
      width: calc(100% - 40px);
   }
}
.lbl1_cmc::after{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(17,17,17, 0.192);
   backdrop-filter: blur(10px);
   filter: blur(2px);
   border: 1px solid rgba(17,17,17, 0.568);
   border-radius: 16px;
   z-index: 1;
}


.lbl1_cmh{
   position: relative;
   z-index: 2;
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;
}
.lbl1_cmp{
   position: relative;
   z-index: 2;
   font-size: 14px;
   margin-top: 8px;
}


.lbl1_cb{
   position: relative;
   width: 100%;
   margin-top: 40px;
}
.lbl1_cbc{
   position: relative;
   z-index: 12;
   width: 100%;
   padding: 35px 25px 20px 25px;
   border-radius: 16px;
   background: var(--wh);
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}
.lbl1_cbc a{
   position: relative;
   width: calc(50% - 7.5px);
   height: 44px;
   margin-bottom: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.lbl1_cbc i{
   font-size: 20px;
   margin-right: 12px;
}
.lbl1_cbc span{
   font-size: 18px;
}
.lbl1_cbc div{
   width: 20px;
   height: 20px;
   margin-right: 12px;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}


.lbl1_cbs{
   z-index: 11;
   position: relative;
   width: calc(100% - 30px);
   margin: 0 auto;
   border-radius: 12px;
   background: var(--wh5);
   top: -44px;
   padding: 60px 15px 20px 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.lbl1_cbs i{
   font-size: 15.4px;
   margin-right: 12px;
}
.lbl1_cbs span{
   font-size: 14px;
}
@media (max-width: 375px) {
   .lbl1_cbs i{
      font-size: 13.6px;
      margin-right: 10px;
   }
   .lbl1_cbs span{
      font-size: 12px;
   }
}











/*  */
.lbl3{
   position: relative;
   width: 100%;
}
.lbl3 .head_c{
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
}
.lbl3 .head_c h3{
   text-align: right;
   font-size: 30px;
}
@media (max-width: 375px) {
   .lbl3 .head_c h3{font-size:24px}
}

.lbl3_t1{
   position: relative;
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.lbl3_t1m{
   position: relative;
   width: calc(50% - 20px);
}
.lbl3_t1m div{
   position: relative;
   width: 100%;
   height: 100%;
   /* padding-bottom: 100%; */
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}


.lbl3_c{
   position: relative;
   width: 100%;
   margin-top: 20px;
}
.lbl3_i{
   position: relative;
   width: 100%;
   padding-bottom: 15px;
   margin-bottom: 15px;
   border-bottom: 1px solid var(--grs5);
}
.lbl3_i:last-child{
   padding-bottom: 0;
   margin-bottom: 0;
   border-bottom: 0;
}
.lbl3_ih{
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.lbl3_ih p{
   font-size: 20px;
   text-transform: uppercase;
}
.lbl3_ih span{
   display: block;
   width: 44px;
   height: 44px;
   background: var(--cl1);
   color: var(--cl);
   border-radius: 50%;
   font-size: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.lbl3_ip{
   position: relative;
   width: 100%;
   padding-right: 44px;
   font-size: 14px;
}




/*  */
.lbl5{
   position: relative;
   width: 100%;
}
.lbl5_c{
   position: relative;
   width: 100%;
}
.lbl5_i{
   position: relative;
   width: 100%;
   min-height: 260px;
   margin-bottom: 20px;
   border: 1px solid var(--grs);
   border-radius: 16px;

   padding: 30px 20px;
}
.lbl5_ih{
   position: relative;
   width: 100%;
   text-align: center;
   font-size: 22px;
   font-weight: 600;
   text-transform: uppercase;
}
.lbl5_it{
   position: relative;
   width: 100%;
   margin-top: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.lbl5_it i{
   margin-right: 12px;
}



.lbl5_ic{
   position: relative;
   width: 100%;
   border-top: 1px solid var(--grs5);
   margin-top: 30px;
   padding-top: 30px;
}
.lbl5_ici{
   position: relative;
   width: 100%;
   font-size: 14px;
   margin-bottom: 3px;
}
.lbl5_ici:last-child{
   margin-bottom: 0;
}




.lbl5_ip{
   position: relative;
   width: 100%;
   text-align: center;
   margin-bottom: 20px;
   margin-top: 30px;
}
.lbl5_ip span{
   position: relative;
   width: 100%;
   font-size: 14px;
   color: var(--gr);
}
.lbl5_ip p{
   position: relative;
   width: 100%;
   margin-top: 3px;
   font-size: 20px;
}

.lbl5_i .btn{
   width: 100%;
}















/*  */
.lbl10{
   position: relative;
   width: 100%;
}
.lbl10_c{
   position: relative;
   width: 100%;
}
.lbl10_cm{
   position: relative;
   width: 100%;
}
.lbl10_cml{
   position: relative;
   width: 100%;
   border-radius: 16px;
   min-height: 260px;
   margin-bottom: 20px;

   position: relative;
   width: 100%;
   border-radius: 20px;
   cursor: pointer;
   transition: .3s;
   background: #1C1C1C;
   display: block;

   padding-top: 150px;
   margin-top: 100px;
}
.lbl10_cml:first-child{
   margin-top: 60px;
}


.lbl10_cmle{
   position: relative;
   overflow: hidden;

   width: 240px;
   height: 240px;
   position: absolute;
   top: -100px;
   left: 0;
   right: 0;
   margin: auto;
   /* background: var(--cl2); */
}
.lbl10_cmle div{
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}


.lbl10_cmlb{
   position: relative;
   width: 100%;
   padding: 0 25px 25px 25px;
}
.lbl10_cmlbh{
   font-size: 22px;
   font-weight: 600;
   color: var(--wh);
   text-align: center;
   text-transform: uppercase;
}

.lbl10_cmlbp{
   position: relative;
   width: 100%;
   margin-top: 30px;
   padding: 0 25px;
}
.lbl10_cmlbp li{
   list-style-type: disc;
   font-size: 15px;
   color: var(--wh);
   margin-bottom: 12px;
   padding: 0 10px;
}


.lbl10_cml .btn{
   width: 100%;
   margin-top: 30px;
}



.lbl10_cb .btn{
   width: 100%;
}














/*  */
.lbl12{
   position: relative;
   width: 100%;
}
.lbl12_c{
   position: relative;
   width: 100%;
}


.lbl12_c .btn{
   width: 100%;
   margin-bottom: 15px;
}
.lbl12_c p{
   margin-top: 30px;
   margin-bottom: 15px;
   text-align: center;
}

@media (max-width: 375px) {
   .lbl12_c p{
      font-size: 14px;
   }
}